<div class="outer">
    <div class="navbar">
        <h2 id="companyname">TSP</h2>
        <div class="nav">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Help</a>
            <button class="btnLogin-popup">SignUp</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
                <div class="panel">
                    <div class="heading">
                        <h2 class="Signin">Sign In</h2>
                    </div>
                    <div class="body">
                        <form action="">
                                <div class="inputs">
                                    <span class="icon"><i class="fa-solid fa-envelope" style="color: #fff;"></i></span>
                                    <input type="email">
                                    <label for="email" class="form-label">Email</label>
                                </div>
                                <div class="inputs">
                                    <span class="icon"><i class="fa-solid fa-lock" style="color: #fff;"></i></span>
                                    <input type="password">
                                    <label for="password" class="form-label">Password</label>
                                </div>
                            <div class="form-inline">
                                <a id="forget" class="font-weight-Bold">Forget Password</a>
                            </div>
                            
                            <div class="t">Don't have account?
                                <a id="forget" routerLink="/signup">Sign Up</a>
                            </div>
                            <button type="submit" class="btn btn-primary">Next</button>
                        </form>
                    </div>
                </div>
        </div>
    </div>
    <div class="footer">
            <a href="">T & C</a>
            <a href="">Privacy policy</a>
            <a href="">Software service Agreement</a>
            <a href="">Careers</a>
            <a href="">Contact Us</a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>
