.container{
    height: 100vh;
}

.navbar{
    width: 110%;
    height: 80px;
    background-color: #1A2238;
    margin-top: 0;
    width: auto;
}

#companyname{
    color: white;
    padding-left: 20px
}

.icon-arrow{
    border-radius: 4px;
    position: relative;
    top: 30px;
}


