<div class="outer">
    <div class="navbar">
        <h2 id="companyname">TSP</h2>
        <div class="nav">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Help</a>
            <button class="btnLogin-popup" routerLink="/sign-up">SignUp</button>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel">
                <div class="heading">
                    <h2 class="Forgot">Forgot Password</h2>
                    <p class="resetpara">
                        Enter your Email to send the mail to reset password. Then check the email and varify it. 
                    </p>
                </div>
                <div class="body">
                    <form [formGroup]="LoginForm">
                        <div class="inputs">
                            <label for="enteremail" class="form-label1">Enter your Email</label>
                            <input type="email" class="forminput" name="email" [(ngModel)]="email" formControlName="email">
                            <label class="text-danger error-email" *ngIf="getError(LoginForm.get('email'))">
                                {{
                                    getError(LoginForm.get('email'))
                                }}
                              </label>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="forgotpassword()">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
            <a href="">T & C</a>
            <a href="">Privacy policy</a>
            <a href="">Software service Agreement</a>
            <a href="">Careers</a>
            <a href="">Contact Us</a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-square-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-instagram"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>
